*.class

#package file
*.war
*.ear
#*.jar

#kdiff3 ignore
*.orig

#maven ignore
traget/

#eclipse ignore
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db